body {
    margin: 0;
    padding: 0;
    font-family:'Roboto Mono', monospace;
    background: #020202;
}

.material-icons {
    vertical-align: middle;
    line-height: 1px;
}

.navbar-brand> .material-icons{
    font-size: 40px;
}

.bg-image{
    height:100%;
    background: url('images/bgfinalpng.png');
    background-size:cover;
    position:relative;
    opacity: 100%;
}


.c-item {
    height: 650px;
}

.c-img{
    height: 100%;
    object-fit: cover;
    filter:brightness(0.6);
}

.pacman-gif{
    margin:0;
    max-width:200px;
    padding-bottom: 0px;
}

.project-section{
    padding-bottom: 40px;
}

.nav-link{
    color: #fac505;
}
.navbar-brand{
    color: #fac505;
}


  