body {
    margin: 0;
    padding: 0;
    font-family:'Roboto Mono', monospace;
    background: #020202;
}

.material-icons {
    vertical-align: middle;
    line-height: 1px;
}

.navbar-brand> .material-icons{
    font-size: 40px;
}

.bg-image{
    height:100%;
    background: url('images/bgfinalpng.png');
    background-size:cover;
    position:relative;
    opacity: 100%;
    z-index: -1;
}

.c-item {
    height: 650px;
}

.c-img{
    height: 100%;
    object-fit: cover;
    filter:brightness(0.9);
}

.pacman-gif{
    align-items: center;
    max-width:200px;
    padding-bottom: 0px;
}

.project-section{
    padding-bottom: 40px;
}

.nav-link{
    color: #fac505;
}
.navbar-brand{
    color: #fac505;
}

.hydrometer{
    text-align:left;
    color:aqua;
    padding-left: 50px;
}

.hobbies> .material-symbols-outlined{
    font-size:50px;
    color:#7b03fc;
}

.h-text{
    color: #fac505;
}

.container-artworks {
    padding: 3rem;   
}

.art-img{
    display: block;
    max-width: 100%;
    padding-bottom: 20px;
    
}


.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity:0;
    transition: .5s ease;
    background-color:white
}

.caption {
    font-size: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.thumbnail:hover{
    transform:translateY(-4px);
}

.img-container:hover .overly {
    opacity: 1;
}
.art-image{
    height:100%;
    background: url('images/artbg.jpg');
    background-blend-mode: darken;
    background-size:cover;
    position:relative;
    opacity: 100%;
}

.social{
    max-width: 100%;
    padding-left:0;
    padding-right: 0
   
}

.social-icon{
   padding-bottom: 50px;
   padding-top: 50px;
}

.arcade-gif{
    margin-top: 100px;
}
.arcade-pic{
   max-width: 900px;
}

.art-bg{
    background-image: linear-gradient(#bf0047, black 100%);
}

.container-form{
   
    display: flex;
    align-items: center;
    justify-content: center;
}

.form{
    background: #28044d;
    display: flex;
    flex-direction: column;
    padding: 2vw 4vw;
    width: 100%;
    max-width: 800px;
    border-radius: 20px;
}

.h3-form{
    color: #fac505;
    font-weight: 800;
    margin-bottom: 20px;
}

.input-form{
    border:0;
    margin: 10px 0;
    padding: 20px;
    outline: none;
    background: #f5f5f5;
    border-radius: 10px;

}
.button-form {
    padding: 15px;
    background: #fac505;
    color: #fff;
    font-size: 18px;
    border: 0;
    outline: none;
    cursor: pointer;
    width: 250px;
    margin: 20px auto 0;
    border-radius: 30px;
}

.contact-text{
    padding-bottom: 70px;
}